<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omnomnom</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/imp.css">
  </head>

  <body>
    <!-- html -->
    <header id="header">
    </header>

    <section id="content">
    </section>

    <footer id="footer">
    </footer>

    <!-- templates -->
    <script type="text/template" id="template-navigation">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Music</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="search_box" type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          <ul class="nav navbar-nav">
            <li id="nav-search"><a href="#search">Search</a></li>
            <li id="nav-queue_history" class="active"><a href="#queue">Queue/history</a></li>
            <li id="nav-upload"><a href="#upload">Upload</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
            </li>
          </ul>
        </div>
      </nav>
    </script>

    <script type="text/template" id="template-track">
      <div class="row" data-member_id="<%= member_id %>" data-track_id="<%= track_id %>">
        <div class="col-md-1">
          <p><%= num %></p>
        </div>
        <div class="col-md-4">
          <p><%= artist %></p>
        </div>
        <div class="col-md-7">
          <p><%= title %></p>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-search_result">
      <div id="search_result">
      </div>
    </script>

    <script type="text/template" id="template-queue_and_history">
      <div id="queue">
        <p>Queue goes here</p>
      </div>
      <div id="history">
        <p>History goes here</p>
      </div>
    </script>

    <script type="text/template" id="template-upload">
      <form action="/uploadFiles/<%= member_id %>" enctype="multipart/form-data" method="POST">
        <input type="file" multiple name="files">
        <input type="submit" value="Upload">
      </form>
    </script>

    <script type="text/template" id="template-player">
      <div id="player_fragment" class="navbar-fixed-bottom">
        <div class="row">
          <div class="col-md-4">
            <div id="current_track" class="row">
              <h3 id="current_track_title" class="title col-md-12"></h3>
              <h4 id="current_track_artist" class="artist col-md-12"></h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-hand-left"></span> Winner</button>
              </div>
              <div class="col-md-4">
                <button id="play_button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
                <button id="next_button" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-forward"></span></button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success pull-right">Winner <span class="glyphicon glyphicon-hand-right"></span></button>
              </div>
            </div>
            <div class="row">
              <div id="player_controls" class="col-md-12">
                <audio id="player">
                  <source id="source_1">
                  <source id="source_2">
                </audio>
                <span id="current_time" class="label label-info pull-left play_timestamp">00:00</span>
                <span id="total_time" class="label label-info pull-right play_timestamp">00:00</span>
                <meter id="play_progress" value="0">0%</meter>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="previous_track" class="row">
              <h3 id="previous_track_title" class="title col-md-12"></h3>
              <h4 id="previous_track_artist" class="artist col-md-12"></h4>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-track">
    </script>

    <!-- libraries -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- scripts -->
    <script src="/static/js/imp.js"></script>
  </body>
</html>
