<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Omnomnom</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/imp.css">
  </head>

  <body>
    <!-- html -->
    <header id="header">
    </header>

    <section id="content">
    </section>

    <footer id="footer" class="navbar-fixed-bottom">
    </footer>

    <!-- templates -->
    <script type="text/template" id="template-navigation">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Music</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input id="search_box" type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Queue/history</a></li>
            <li><a href="#">Tags</a></li>
            <li><a href="#">Top 10</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
            </li>
          </ul>
        </div>
      </nav>
    </script>

    <script type="text/template" id="template-tracklisting">
    </script>

    <script type="text/template" id="template-player">
      <div id="player_fragment">
        <div class="row">
          <div class="col-md-4">
            <div id="current_track" class="row">
              <h3 class="title col-md-12">Behind Closed Eyelids</h3>
              <h4 class="artist col-md-12">Shpongle</h4>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-hand-left"></span> Winner</button>
              </div>
              <div class="col-md-4">
                <button id="play_button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
                <button id="next_button" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-forward"></span></button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success pull-right">Winner <span class="glyphicon glyphicon-hand-right"></span></button>
              </div>
            </div>
            <div class="row">
              <div id="player_controls" class="col-md-12">
                <audio id="player">
                  <source id="source_1" src="/static/music/F_major_chords/D-medium.wav">
                  <source id="source_2" src="/static/music/shpongle.mp3">
                </audio>
                <span id="current_time" class="label label-info pull-left play_timestamp">00:00</span>
                <span id="total_time" class="label label-info pull-right play_timestamp">00:00</span>
                <meter id="play_progress" value="0">0%</meter>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div id="previous_track" class="row">
              <h3 class="title col-md-12">Heavyweight</h3>
              <h4 class="artist col-md-12">Infected Mushroom</h4>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="template-track">
    </script>

    <!-- libraries -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- scripts -->
    <script src="/static/js/init.js"></script>
  </body>
</html>
